/* CSS Document */
#body
{
   margin:auto;
   width:940px;
   overflow:auto;
}
header
{
    height:150px;
    background-color:green;
	/*
    text-align: left;
   /* text-align:center; */
}

main
{
    width:100%;
    height:500px;
    float: right;
    overflow:auto;
    text-align:center;
	background-color:cornflowerblue;
    
}
footer
{
    background-color:rgba(0, 255, 212, 0.4);
    height:50px;
    clear:both;
    text-align:center;
}
